<h2>Crear nuevo tema</h2>

<form action="/topics" method="POST">
  <div>
    <label>Título</label><br />
    <input type="text" name="title" required />
  </div>

  <div>
    <label>Descripción</label><br />
    <textarea name="description" rows="4"></textarea>
  </div>

  <button type="submit">Crear</button>
</form>
